@import './initialize.scss';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

$mobile-size: 480px;
$border-color: #4F74AF;
$hover-color: #86A8E7;
$footer-bg-color: #86A8E7;

@mixin textShadow($color: #898989) {
  text-shadow: 2px 3px $color;
}

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #E1F1FF;
}

.contents {
  margin: auto 15vw;
  max-width: 1280px;

  @media screen and (max-width: $mobile-size) {
    margin: auto 10vw;
  }
}

.skills {
  li {
    display: inline-block;
    margin: 0 10px 13px 0;
  }
}

.repos,
.links {
  li {
    margin-top: 16px;
    
    &:first-child {
      margin-top: 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 15px;
  background-color: $footer-bg-color;
  color: #FFFFFF;

  @media screen and (max-width: $mobile-size) {
    font-size: 0.9rem;
  }

  .footer__email {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
}

.jumbotron {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: $footer-bg-color;
  font-size: 1.3rem;
  
  @media screen and (max-width: $mobile-size) {
    font-size: 1rem;
  }

  .jumbotron__profile {
    img {
      width: 130px;
      border: 3px solid $border-color;
      border-radius: 50%;
    }

    @media screen and (max-width: $mobile-size) {
      img {
        width: 100px;
      }      
    }
  }

  .jumbootron__title {
    text-align: center;
    color: #FFFFFF;
    @include textShadow();

    .title__sub {
      margin-top: 10px;
      padding: 0 5vw;
      font-weight: 400;
      font-style: italic;
      text-decoration: underline;
      text-shadow: none;
      opacity: 0.5;
    }
  }
}

.caption {
  margin: 80px 0 20px 0;
  border-bottom: 2px solid $border-color;
  @include textShadow(#CCCCCC);
  font-size: 1.3rem;
}

.skill {
  padding: 3px 8px;
  background-color: #86A8E7;
  border-radius: 3px;
  color: #FFFFFF;

  &.skills--interested {
    background-color: #B0B0CB;
  }
}

.github-link {
  a {
    color: #4B4D52;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      color: $hover-color;
    }
  }

  .github-link__disc {
    font-size: 1.2rem;
    color: #AAAAAA;
  }
}

.social-link {
  font-size: 1.4rem;

  a {
    padding-left: 8px;

    &:hover {
      color: $hover-color;
    }
  }
}