@each $el in h1, h2, h3, h4 ,h5, h6, html, body, ul, li, p {
  #{$el} {
    margin: 0;
    padding: 0;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:visited {
    color: inherit;
  }
}